@{
    ViewData["Title"] = "Home Page";
}

<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="bi-window m-auto text-primary"></i>
                    </div>
                    <h3>Find Events</h3>
                    <p class="lead mb-0">Search for events you mostly like</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="bi-layers m-auto text-primary"></i>
                    </div>
                    <h3>Join Events</h3>
                    <p class="lead mb-0">Check Time lines and info , join easily </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="bi-terminal m-auto text-primary"></i>
                    </div>
                    <h3>Much More...</h3>
                    <p class="lead mb-0">Create events, manage your events </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/images/landing-1.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/images/landing-2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
            </div>
        </div>
     
    </div>
</section>

<!-- Call to Action-->
<section class="call-to-action text-white text-center" id="signup">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-4">Subscribe in our news letter!</h2>
              
                <form method="post" action="/EmailSubscription">
                    <!-- Email address input-->
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-lg" name="EmailAddress" id="emailAddressNewsLetter" type="email" placeholder="Email Address" />
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Subscribe</button>
                        </div>
                    </div>
                    <p>@ViewBag.Message</p>
                </form>
            </div>
        </div>
    </div>
</section>