@{
    ViewData["Title"] = "Our Terms";
}

<div class="container ">
    <div class="card m-5">
        <div class="card-body">
            <h1>@ViewData["Title"]</h1>

            <p>We don't have any terms :) so have fun .</p>

        </div>
    </div>
</div>