@{
    ViewData["Title"] = "Project Detail";
}

<div class="text-center">
    <h1 class="display-4">The project detail is : </h1>
    <img class="pd-image" src="~/img/project-detail.jpg" alt="project info" />
</div>
