<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Rooy Daad (رویداد)</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
    <a class="btn btn-outline-secondary mr-4" asp-controller="Event" asp-action="Index">Events</a>

</nav>
