<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Rooy Daad (رویداد)</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>
